{
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    },
    "development": {
      "presets": ["es2015"],
      "sourceMaps": true,
      "retainLines": true
    }
  }
}
